<?xml version="1.0"?>
<config>
    <modules>
        <MKleine_Mailpreview>
            <version>0.0.1</version>
        </MKleine_Mailpreview>
    </modules>
    <global>
        <blocks>
            <mk_mailpreview>
                <class>MKleine_Mailpreview_Block</class>
            </mk_mailpreview>
        </blocks>
        <models>
            <mk_mailpreview>
                <class>MKleine_Mailpreview_Model</class>
                <resourceModel>mk_mailpreview_mysql4</resourceModel>
            </mk_mailpreview>
            <mk_mailpreview_mysql4>
                <class>MKleine_Mailpreview_Model_Mysql4</class>
                <entities>
                    <placeholder>
                        <table>mailprev_placeholder</table>
                    </placeholder>
                </entities>
            </mk_mailpreview_mysql4>
            <core>
                <rewrite>
                    <email_template_filter>MKleine_Mailpreview_Model_Email_Template_Filter</email_template_filter>
                </rewrite>
            </core>
        </models>
        <helpers>
            <mk_mailpreview>
                <class>MKleine_Mailpreview_Helper</class>
            </mk_mailpreview>
        </helpers>
        <resources>
            <mailpreview_setup>
                <setup>
                    <module>MKleine_Mailpreview</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mailpreview_setup>
            <mailpreview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mailpreview_write>
            <mailpreview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mailpreview_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MKleine_Mailpreview before="Mage_Adminhtml">MKleine_Mailpreview</MKleine_Mailpreview>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mk_mailpreview>
                    <file>MKleine_Mailpreview.xml</file>
                </mk_mailpreview>
            </updates>
        </layout>
        <translate>
            <modules>
                <MKleine_Mailpreview>
                    <files>
                        <default>MKleine_Mailpreview.csv</default>
                    </files>
                </MKleine_Mailpreview>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <mailpreview>
            <admin_settings>
                <show_header_in_prev>1</show_header_in_prev>
                <auto_add_placeholders>0</auto_add_placeholders>
            </admin_settings>
        </mailpreview>
    </default>
</config>
