<?xml version="1.0"?>
<config>
    <modules>
        <MKleine_Mailpreview>
            <version>0.0.1</version>
        </MKleine_Mailpreview>
    </modules>
    <global>
        <blocks>
            <mk_mailpreview>
                <class>MKleine_Mailpreview_Block</class>
            </mk_mailpreview>
        </blocks>
        <models>
            <mk_mailpreview>
                <class>MKleine_Mailpreview_Model</class>
            </mk_mailpreview>
        </models>
        <helpers>
            <mk_mailpreview>
                <class>MKleine_Mailpreview_Helper</class>
            </mk_mailpreview>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mk_mailpreview>
                    <file>MKleine_Mailpreview.xml</file>
                </mk_mailpreview>
            </updates>
        </layout>
        <translate>
            <modules>
                <MKleine_Mailpreview>
                    <files>
                        <default>MKleine_Mailpreview.csv</default>
                    </files>
                </MKleine_Mailpreview>
            </modules>
        </translate>
    </adminhtml>
</config>
